#footer {
    border-top: 2px solid orange;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 79px;
    background: #1b1b1b;
    z-index: 90000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer i {
    font-size: 1.3rem;
}

#footer .social__list {
    margin-left: 56px;
}

#footer .social__list-item {
    list-style: none;
    display: inline-block;
    letter-spacing: 57px;
}

.footer__mail:link,
.footer__mail:visited,
.social__list-link:link,
.social__list-link:visited {
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
}

.footer__mail:hover {
    text-decoration: underline;
}

.social__list-link:hover {
    color: rgb(36, 36, 36);
}

#footer p {
    color: rgba(255, 255, 255, 0.801);
    font-size: 14px;
    @media screen and (max-width: 451px) {
        font-size: 10px;
    }
}