.section_accueil {
    position: relative;
    background-color: #ffffffb5;
    height: 70vh;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    margin-top: 3rem;
    @media screen and (max-width: 960px) {
        margin-top: 1rem;
    }
}

.main-acueil {
    background: #ffffff4f;
    transform: translateY(20%);
    // @media screen and (max-width: 700px) {
    //     max-width: 100%;
    // }
}

.header {
    color: #000000ab;
    padding: 20px 0;
}

.header__title {}

.header__paragraph {
    font-size: 1.6rem;
    text-align: justify;
    padding: 0 10px;
    width: 50%;
    font-family: 'Abril Fatface', cursive;
    @media screen and (max-width: 400px) {
        font-size: 1rem;
    }
}

.header__btn:link,
.header__btn:active {
    text-decoration: none;
    color: inherit;
}