.section_accueil {
    top: 60px;
    position: relative;
    background-color: #ffffffb5;
    //height: 81vh;
    height: calc(100vh - 135px);
    //padding: 18rem 0;
}

.main-acueil {
    transform: translateY(20%);
    // @media screen and (max-width: 700px) {
    //     max-width: 100%;
    // }
}

.header {
    color: #000000ab;
    padding-top: 12%;
    @media screen and (max-width: 850px) {
        position: relative;
        top: 100px;
    }
}

.header__paragraph {
    font-size: 1.6rem;
    text-align: justify;
    padding: 0 10px;
    width: 50%;
    font-family: 'Abril Fatface', cursive;
    @media screen and (max-width: 911px) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: 850px) {
        width: 100%;
    }
    @media screen and (max-width: 400px) {
        font-size: 1rem;
    }
}