#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b1b1b;
    box-shadow: 2px 2px 5 px rgba(0, 0, 0, 0.778);
    border-bottom: 2px solid orange;
    height: 60px;
}

.nav__block {
    position: fixed;
    right: -400px;
    top: 0;
    z-index: 3;
    background-image: linear-gradient(to left, #F5E9E2, #0B0014);
    border-radius: 0 0 0 10px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.778);
    transition: all .4s ease;
}

#nav .nav_logo {
    height: 40px;
}

.nav__list {
    list-style: none;
    position: relative;
    padding: 3.3rem 3.5rem .5rem;
    border-radius: 10px;
    @media screen and (max-width: 1108) {
        padding: 3.3rem 1.5rem .5rem;
    }
}

.nav__item:not(:last-child) {
    margin-bottom: 9px;
}

.nav__link:link,
.nav__link:visited {
    font-size: 1.275rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    color: rgb(225, 224, 224);
    ;
}

.nav__link:hover {
    color: $color-white;
}

.nav__link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #9d4d4d;
    transition: width .3s ease;
}

.nav__link:hover::after {
    width: 8rem;
}

//navBar
#navBar {
    border: none;
    background: transparent;
    position: absolute;
    z-index: 1500;
    right: 0;
    margin-inline-end: 2rem;
    cursor: pointer;
    transition: all .3s ease;
}

#navBar:hover .bar_1,
#navBar:hover .bar_3 {
    position: relative;
}

#navBar:hover .bar_1 {
    bottom: .1rem;
}

#navBar:hover .bar_3 {
    top: .1rem;
}

.bar_1,
.bar_2,
.bar_3 {
    display: block;
    height: 5px;
    width: 2.3em;
    background: #ffffff;
}

.bar_2 {
    margin: 3px 0;
    opacity: 1;
    transition: all .1s ease .1s;
}

.rightNegatif {
    right: 0;
}

.opacity0 {
    opacity: 0;
}

.bar_1,
.bar_3 {
    transition: all .2s;
}

.positionAbTop0 {
    position: absolute;
    top: 0;
}

.rotate45 {
    transform: rotate(45deg);
}

.rotateNegatif45 {
    transform: rotate(-45deg);
}

.bgColorWhite {
    background: #9d4d4d;
    ;
}