#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

.nav__block {
    position: fixed;
    right: 0;
    top: 0;
}

#nav .nav_logo {
    height: 40px;
}

.nav__list {
    list-style: none;
    position: relative;
    padding: 1rem .5rem .5rem;
    background-color: #FFFFFF;
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.778);
    transition: all .7s ease;
}

.nav__item:not(:last-child) {
    margin-bottom: 9px;
}

.nav__link:link,
.nav__link:visited {
    font-size: 1.275rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    color: rgba(0, 0, 0, 0.778);
}