DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine On

# set your rewrite base
# edit this in your folder Init method if your script lives in a subfolder
RewriteBase /

# deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# push every request to index On réécrit l'URL
RewriteRule ^(.*)$ index.php [QSA]