#navBar {
    position: absolute;
    right: 0;
    margin-block-start: 1.8rem;
    margin-inline-end: 2rem;
    font-size: 1.3rem;
    border: none;
    z-index: 1000;
}

.hamburger,
.hamburger::after,
.hamburger::before {
    display: block;
    background: #000;
    width: 1.1em;
    height: 4px;
}

.hamburger::after,
.hamburger::before {
    content: '';
    position: relative;
}

.hamburger::after {
    bottom: 11px;
    background: red;
}

.hamburgerAfter {
    display: none;
}

.hamburger::before {
    top: 7px;
}