#header {
  width: 50%;
  margin-top: 20px;
}

.header__title {
  font-size: 30px;
  margin-bottom: $margin-medium;
}

.header__paragraph {
  font-size: 18px
}

.header__btn {
  font-size: 20px;
  display: inline-block;
}