#main {
    padding: 0 30px;
}

#main .msg {
    font-size: .8em;
    color: rgb(88, 1, 1);
    margin-left: 20px;
}

#contactForm input.invalid,
#contactForm form textarea.invalid {
    border: 1px solid red;
}